name: Release

on:
  push:
    branches:
      - master
      - main

jobs:
  release:
    uses: Granite-Marketing/workflow-release/.github/workflows/release.yml@main
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
